.payment_box.payment_method_tropipay {
    margin:20px;
}

.logoTropipay {
    display: block;
    width: 100%;
    height: 45px;
    background: url(../images/logoTropiPay.png) no-repeat left;
    background-size: contain;
}
.hidden {
    display: none !important;
}
